h1 {
  font-size: 3em
}

.custom-box {
  height: 300px;
  background: #b6c7bd;
  margin: 10px;
  padding: 20px;
}

.img-responsive {
  height: 50%;
  float: left;
}

.custom-box h3 {
  float: left;
  font-size: 1.2em;
  padding-left: 10px;
}

@media (min-width: 992px) {
  .med-size {
    width: 33.3333333%;
    float: left;
  }
}

a {
  color: gray;
}

a:hover {
  color: white;
}

footer {
  height: 50%;
  background: #b6c7bd;
  padding: 20px;
}


/*Object Oriented CSS + Scalable & Modularr CSS*/

/* base */

/* layout */

/* module */

/* state */

/* theme */







/* BEM */

.column {
}

.column-content {

}

.column-content__title {

}

.link {

}

.link--hover {

}



/* Atomic */


.h50 {

}

.backgc {

}

.m10 {

}

.fL {

}

.p20 {

}











